@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #FBFFFE;
  font-family: "Roboto Slab", sans-serif;
  padding-top: 2rem;
}

.wrapper {
  width: 40rem;
  max-width: 40rem;
  padding-top: 5rem;
  margin: 0 auto;
}

#calculator {
  box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0.1rem 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.7);
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  width: 25%;
  display: table;
  cursor: move;
  position: relative;
  background: #22B7F2;
  margin: 0 auto;
}

.screen {
  height: 10rem;
  color: #FBFFFE;
  line-height: 8rem;
  text-align: right;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;

}

.mResult {
  height: 7.5rem;
  width: 45rem;
  overflow: hidden;
}

.result {
  line-height: 3;
  font-size: 5rem;
  overflow: hidden;
}

#keypad {
  margin: 0 auto;
}

#keypad li {
  list-style-type: none;
  width: 25%;
  background: #1C2524;
  color: #ffffff;
  float: left;
  text-align: center;
  height: 8rem;
  font-size: 6rem;
  border: 1px solid #fff;
  cursor: default;

}

#keypad li:hover {
  /*background: #bce06f;*/
  background: linear-gradient(#DAD299, #B0DAB9);
}

#keypad .extend {
  width: 50%;
}

#keypad .button {
  background: #590202;
  color: white;
  font-size: 6rem;
  border-right: none;
}

#keypad .buttonTop {
  background: #FC5A2C;
  color: white;
  font-size: 4rem;
  cursor: default;
}

#keys {
  padding: 0;
}

/*-------- media queries --------*/

@media screen and (max-width: 980px) {
  #calculator {
    width: 30rem;
  }

  .screen {
    height: 10rem;
  }

  .result {
    line-height: 15rem;
  }
}
